# Mi primer Notebook

In [1]:
es_mayor = True
es_menor = False

In [2]:
print('Valor de es_mayor: ', es_mayor)
print('Valor de es_menor: ', es_menor)

Valor de es_mayor:  True
Valor de es_menor:  False

In [3]:
print('El tipo de dato de es_mayor: ', type(es_mayor))
print('El tipo de dato de es_menor: ', type(es_menor))

El tipo de dato de es_mayor:  <class 'bool'>
El tipo de dato de es_menor:  <class 'bool'>

In [4]:
edad = 25
type (edad)
temperatura = -5
type (temperatura)
ceros = 0
type (ceros)
print (ceros)

0

In [5]:
nombre = "Angel"
saludo = '¡Hello!'
parrafo = """Este es un texto
que abarca varias
líneas."""
num_binario = 0b1011  # Representa el número decimal 11
num_octal = 0o13  # Representa el número decimal 11
num_decimal = 11  # Representa el número 11
num_hexadecimal = 0xB  # Representa el número decimal 11

In [7]:
print(int(0b1011))
print(int(0o13))
print(hex (11))
print(bin(11))
print(int(0xB))

11
11
0xb
0b1011
11

In [10]:
resultado = 5 + 3  # Suma 5 y 3. El resultado es 8.
print(resultado)

resultado = 5 - 3  # Resta 3 de 5. El resultado es 2.
print (resultado)

resultado = 6 * 7  # Multiplica 6 por 7, lo que da 42.
print (resultado)

resultado = 8 / 3  # Divide 8 entre 3. El resultado es 2.666... (un número de punto flotante).

print (resultado)

8
2
42
2.6666666666666665